# Bytecode and Python internals
__pycache__/
*.py[cod]

# IDE/editor files
.vscode/
.idea/
*.swp

# Data
data/raw/
data/features/*.parquet

# Models
models/*.json

# Logs or outputs
*.log

# Notebooks
*.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
